@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://cdn-uicons.flaticon.com/2.6.0/uicons-regular-rounded/css/uicons-regular-rounded.css');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: 100%;
    background-color: #f5f5f5;
    font-family: "Oswald", sans-serif !important;
    font-optical-sizing: auto;
    padding: 0;
}

.container {
    width: 100%;
    height: 100%;
    margin-top: 70px;

}

h1,h2,h3,h4,h5,h6 {
    text-transform: uppercase;
    text-align: center;
}

a {
    color: #111517;
}

a:hover {
    color: #ef0d33;
    transition: 0.5s;
}

p, a {
    font-size: 1em;
    font-weight: 300;
    line-height: 30px;
    font-family: "Roboto", sans-serif;
    text-align: left;
}

header {
    width: 100%;
    max-width: 100%;
    height: auto;
}

.carousel {
    width: 100%;
    height: 95vh;
    margin-top: 70px;
    overflow: hidden;
    position: relative;
}

.carousel .list .item {
    width: 70px;
    height: 100px;
    top: 85%;
    transform: translateY(-70%);
    position: absolute;
    left: 5%;
    border-radius: 20px;
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.3);
    background-position: 50% 50%;
    background-size: cover;
    z-index: 100;
    transition: 1s;
}

.carousel .list .item:nth-child(1),
.carousel .list .item:nth-child(2) {
    top: 0;
    left: 0;
    transform: translate(0, 0);
    border-radius: 0;
    width: 100%;
    height: 100%;
}

.carousel .list .item:nth-child(3) {
    left: 85%;
}

.carousel .list .item:nth-child(4) {
    left: calc(85% + 80px);
}

.carousel .list .item:nth-child(5) {
    left: calc(85% + 160px);
}

.carousel .list .item:nth-child(6) {
    left: calc(85% + 320px);
    opacity: 0;
} 

.item .contentSlide {
    position: relative;
    top: 50%;
    left: 100px;
    transform: translateY(-50%);
    max-width: 810px;
    text-align: left;
    color: #fff;
    display: none;
    z-index: 1000;
}

.list .item:nth-child(2) .contentSlide {
    display: block;
}

.contentSlide .sld-title-first {
    font-size: 5em;
    text-transform: uppercase;
    color: #F99003;
    font-weight: bold;
    line-height: 1.1;

    opacity: 0;
    animation: animate 1s ease-in-out 0.3s 1 forwards;
}

.contentSlide .sld-title-second {
    font-size: 5.3em;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    line-height: 1.1;
    margin-top: 8px;

    opacity: 0;
    animation: animate 1s ease-in-out 0.6s 1 forwards;
}

.contentSlide .sld-meta {
    font-size: 1em;
    text-transform: uppercase;
    color: #fff;
    margin-top: 20px;
    line-height: 2;

    opacity: 0;
    animation: animate 1s ease-in-out 0.9s 1 forwards;
}


@keyframes animate {
    from {
        opacity: 0;
        transform: translate(0, 100px);
        filter: blur(33px);
    }
    to {
        opacity: 1;
        transform: translate(0);
        filter: blur(0);
    }
}

/* next prev arrows */

.arrows {
    position: absolute;
    top: 82%;
    left: 5%;
    z-index: 200;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.arrows button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #F99003cb;
    border: none;
    font-size: 1em;
    outline: none;
    font-family: monospace;
    font-weight: bold;
    cursor: pointer;
}

.arrows button:hover {
    background-color: #fff;
    color: #111517;
    transition: 1s;
}

/* end next prev arrows */


.timeRunning {
    position: absolute;
    z-index: 1000;
    width: 0%;
    height: 2px;
    background-color: #f98e0344;;
    left: 0;
    bottom: 0;
    animation: runningTime 5s linear 1 forwards;
}

@keyframes runningTime {
    from {
        width: 0%;
    }
    to {
        width: 100%;
    }
}


.md_wrapper {
    max-width: 1320px;
    padding: 30px;
}

/* Navbar */

.navbar {
    background-color: #111517;
    color: #f5f5f5;
    padding: 20px 0;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
}

.navbar_row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.navmenu_burger {
    display: none;
}


.mainMenu li:last-child {
    margin-right: 0;
}

.mainMenu, .navContacts {
    font-size: 1.5em;
    display: flex;
}

.mainMenu li {
    margin-right: 20px;
    display: flex;
    align-items: center;
}

.navContacts li {
    margin-right: 25px;
}

.navContacts li:last-child {
    margin-right: 0;
}

#logo {
    width: 25px;
    height: 23px;
    margin-top: 5px;
}

.welcome {
    background-color:  #111517;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.md_welcome {
    max-width: 1320px;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 50px auto;
}

.welcome h2 {
    color: #F99003;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 3em;
}

.event {
    background-image: url(../images/event.jpg);
    width: 100%;
    height: auto;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    padding: 100px 0;
    display: flex;
    justify-content: center;
}

.bg-overlay {
    background-color: #000;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: baseline;
    z-index: 200;
}

.eventModule {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 250;
}

.banner {
    overflow: hidden;
    border: 1px solid #f5f5f5;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
}



.desriptionEvent {
    margin-left: 15px;
    background-color: #fff;
    max-width: 720px;
    height: 400px;
    padding: 20px;
    overflow: scroll;
}

.desriptionEvent h2 {
    margin-bottom: 20px;
}

.desriptionEvent ul li {
    margin-bottom: 10px;
}

.desriptionEvent ul li:hover {
    color: #111517;
}

.more {
    margin-top: 10px;
}

.md_title {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    position: relative;
    z-index: 250;
}

.md_dark {
    width: 100%;
    height: auto;
    padding: 50px 0;
    background-color: #111517;
    display: flex;
    justify-content: center;
    color: #f5f5f5;
}

h2.whiteTitleFirst {
    color: #f5f5f5;
    font-size: 3em;
}

h2.whiteTitleSecond {
    color: #f5f5f5;
    text-transform: none;
    font-size: 1.2em;
}

h2.darkTitleFirst {
    color: #111517;
    font-size: 3em;
}

h2.darkTitleSecond {
    color: #111517;
    text-transform: none;
    font-size: 1.2em;
}

.blockFirst,
.blockTwo,
.blockThree,
.blockFour,
.blockFive,
.blockSecond {
    max-width: 1320px;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 0 auto;
}

.md_left {
    width: 50%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    padding: 50px 15px 50px 0;
}

.md_left img {
    max-width: 550px;
    height: auto;
}

.md_left h3 {
    text-align: left;
}

.md_left p.doubleDescrip, .md_right p.doubleDescrip {
    color: #555;
    margin-top: 20px;
    text-align: justify;
}

.md_left h3:first-child, .md_right h3:first-child{
    color: #ef0d33;
    font-size: 0.8em;
}

.double {
    font-size: 2em;
}

.md_right {
    width: 50%;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: center;
    padding: 50px 0 50px 15px;
    text-align: justify;
}

.md_right img {
    max-width: 550px;
    height: auto;
}

.blockFirst span {
    font-weight: bold;
}

.md_white {
    width: 100%;
    height: auto;
    padding: 50px 0;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    color: #111517;
}

.md_archivePhoto, .md_archiveSlider {
    max-width: 1320px;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.accordion {
    width: 100%;
    margin-top: 50px;
}

.accordion .contentBx {
    position: relative;
    margin: 20px;
    border: 1px solid #111517;
}

.accordion .contentBx .label {
    position: relative;
    padding: 15px;
    background-color: #111517;
    color: #F99003;
    cursor: pointer;
    font-size: 1.7em;
}

.accordion .contentBx .label::before {
    content: '+';
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 1.7em;
}

.accordion .contentBx .contentSwing {
    position: relative;
    background: #f5f5f5;
    height: 0;
    overflow: hidden;
    transition: 0.7s;
    overflow-y: auto;
}

.accordion .contentBx .contentSwing::-webkit-scrollbar {
    display: none;
}

.accordion .contentBx.activeAcrd .label::before {
    content: '-';
}

.accordion .contentBx.activeAcrd .contentSwing {
    height: 150px;
    padding: 15px;
}

.md_aboutMe {
    color: #555;
    margin: 50px auto;
    text-align: justify;
}

.clubRules {
    margin: 50px 30px;
}

.clubRules ul {
    list-style: none;
}

.clubRules ul li {
    line-height: 40px;
    font-size: 1em;
    font-family: 'Roboto';
    font-weight: 300;
}

.clubRules ul li:hover {
    color: #fff;
}

.clubRules ul li .md_icon {
    color: #ef0d33;
}

/* Report */

.reportTitle {
    margin-top: 50px;
}

.report {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.report .report_container {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 20px;
}

.report .report_container .report_block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.report .report_container .report_data {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.report .report_container .report_data .report_autor > span {
    color: #ef0d33;
}

.report .report_container .report_block .report_img {
    width: 100%;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    border: 1px solid #111517;
}

.report .report_container .report_block .report_img img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.report .report_block .report_content {
    max-width: 75%;
    padding: 0 30px;
}

.show_reports {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 15px;
}

.showButton:hover {
    cursor: pointer;
    color: #ef0d33;
    transition: 0.5s;
}

.hideActive {
    display: none;
}

/* End report */

.footer {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
}

.md_footer_left,  .md_footer_right {
    padding: 0 100px;
}

.copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    font-family: "Oswald", sans-serif;
    font-size: 0.8em;
    font-weight: 100;
    letter-spacing: 2px;
}

ul {
    list-style: none;
}

ul li a {
    color: #f5f5f5;
    font-style: normal;
    text-decoration: none;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
}

ul li a:hover {
    color: #ef0d33;
    transition: 0.5s;
}

ul li:hover {
    color: #ef0d33;
    transition: 0.5s;
}


.md_icon {
    margin-right: 10px;
}

/* Photo report */

.container_gallery {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 8%;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(5, 250px);
    gap: 10px;
}

.gallery div {
    overflow: hidden;
    width: 250px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* End Photo report */

/* Archive Event */


.wrapper {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .block {
    height: 600px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
}

.card {
    width: 80px;
    border-radius: .75rem;
    background-size: cover;
    cursor: pointer;
    overflow: hidden;
    border-radius: 2rem;
    margin: 0 10px;
    display: flex;
    align-items: flex-end;
    transition: .6s cubic-bezier(.28,-0.03,0,.99);
    box-shadow: 0px 10px 30px -5px rgba(0,0,0,0.8);
}

.card > .row {
    color: white;
    display: flex;
    flex-wrap: nowrap;
}

.card > .row > .description {
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    height: 80px;
    width: 520px;
    opacity: 0;
    transform: translateY(30px);
    transition-delay: .3s;
    transition: all .3s ease;
}

.description p {
    color: #b0b0ba;
    padding-top: 5px;
}

.description h4 {
    text-transform: uppercase;
}

input {
    display: none;
}

input:checked + label {
    width: 600px;
}

input:checked + label .description {
    opacity: 1 !important;
    transform: translateY(0) !important;
}

.card[for="c1"] {
    background-image: url('../images/event/01.png');
}
.card[for="c2"] {
    background-image: url('../images/event/02.png');
}
.card[for="c3"] {
    background-image: url('../images/event/03.png');
}
.card[for="c4"] {
    background-image: url('../images/event/04.png');
}
.card[for="c5"] {
    background-image: url('../images/event/07.png');
}
.card[for="c6"] {
    background-image: url('../images/event/06.png');
}
.card[for="c7"] {
    background-image: url('../images/event/05.png');
}
.card[for="c8"] {
    background-image: url('../images/event/08.png');
}



/*End arhive event */

/* Scrollbar */

::-webkit-scrollbar {
    width: 7px;
    background-color: rgb(17,21,23);
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #F99003; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #d47901;
  }

  .desriptionEvent::-webkit-scrollbar {
    width: 7px;
    background-color: rgb(255, 255, 255);
  }

  .desriptionEvent::-webkit-scrollbar-thumb {
    background: #F99003; 
  }

/* Scrollbar end */


/* ---------------------------------------------------@Media-------------------------------------------------------- */

@media (max-width: 1440px) {

    .container .md_dark,
    .container .md_white {
        padding: 20px 0;
    }

    .md_dark .md_wrapper .md_archiveSlider .wrapper .container {
        width: 100%;
        height: 660px;
        padding: 30px;
    }

    .md_dark .md_wrapper {
        max-width: 100%;
        padding: 30px;
    }
}

@media (max-width: 1280px) {
     /* Navbar */
    .mainMenu, .navContacts {
        font-size: 1.2em;
    }
    /* End navbar */

    /* Slider header */

    .contentSlide .sld-title-first {
        font-size: 3.5em;
    }

    .contentSlide .sld-title-second {
        font-size: 4em;
    }

    .contentSlide .sld-meta {
        font-size: 0.8em;
    }

    /* End slider header */

    /* Gallery */

    .md_white .md_wrapper .container_gallery .gallery {
        display: grid;
        grid-template-columns: repeat(3, 250px);
        gap: 10px;
    }

    /* End gallery */

    /* how get my party */

    .md_white .md_wrapper .blockFirst .md_left,
    .md_white .md_wrapper .blockFirst .md_right,
    .md_white .md_wrapper .blockTwo .md_left,
    .md_white .md_wrapper .blockTwo .md_right,
    .md_white .md_wrapper .blockThree .md_left,
    .md_white .md_wrapper .blockThree .md_right,
    .md_white .md_wrapper .blockFour .md_left,
    .md_white .md_wrapper .blockFour .md_right,
    .md_white .md_wrapper .blockFive .md_left,
    .md_white .md_wrapper .blockFive .md_right {
        padding: 30px;
    }

    .md_white .md_wrapper .blockFirst .md_right img,
    .md_white .md_wrapper .blockTwo .md_left img,
    .md_white .md_wrapper .blockThree .md_right img,
    .md_white .md_wrapper .blockFour .md_left img,
    .md_white .md_wrapper .blockFive .md_right img {
        width: 100%;
    }
    /* end how get my party */

    /* footer */

    .footer {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-around;
    }

    .footer {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-around;
    }

    .footer .md_footer_left {
        padding: 0 50px;
    }

    .footer .md_footer_right {
        padding: 0 50px;
    }
    /* end footer */
}

@media (max-width: 1024px) {

    /* Navbar */
    .mainMenu, .navContacts {
        font-size: 0.9em;
    }

    .mainMenu {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .mainMenu li {
        margin-right: 8px;
    }

    #logo {
        width: 20px;
        height: 18px;
    }
    /* End navbar */

   /* Slider header */

   .carousel .list .item:nth-child(3) {
    left: 80%;
}

.carousel .list .item:nth-child(4) {
    left: calc(80% + 55px);
}

.carousel .list .item:nth-child(5) {
    left: calc(80% + 110px);
}

.carousel .list .item:nth-child(6) {
    left: calc(80% + 165px);
    opacity: 0;
} 

    .contentSlide .sld-title-first {
        font-size: 3em;
    }

    .contentSlide .sld-title-second {
        font-size: 3.5em;
    }

    .contentSlide .sld-meta {
        font-size: 0.8em;
    }

    .arrows button {
        width: 30px;
        height: 30px;
    }
    
    .carousel .list .item {
        width: 50px;
        height: 80px;
    }
    /* End slider header */

    /* Event */

    .banner img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    .desriptionEvent {
        width: 100%;
        height: 280px;
        overflow: scroll;
    }

    /* Accordeon */

    .md_dark .md_wrapper .md_archiveSlider .wrapper .container {
        width: 100%;
        height: 1200px;
        padding: 30px;
        display: grid;
        grid-template-columns: repeat(1, 550px);
        justify-items: center;
        justify-content: center;
        gap: 10px;
    }

    .md_dark .md_wrapper .md_archiveSlider .wrapper .container .card {
        width: 100%;
        background-size: cover;
        cursor: pointer;
        overflow: hidden;
        border-radius: 2rem;
        margin: 0 10px;
        transition: .6s cubic-bezier(.28,-0.03,0,.99);
        box-shadow: 0px 10px 30px -5px rgba(0,0,0,0.8);
    }

    .md_dark .md_wrapper .md_archiveSlider .wrapper .container input:checked + label {
        margin-bottom: -90px;
    }

    input:checked + label {
        height: 550px;
        
    }

    /* Report */

    .report .report_container .report_block .report_img {
        width: 25%;
        height: 210px;
    }

    .report .report_block .report_content {
        width: 75%;
        padding: 0 30px;
        font-size: 0.8em;
        
    }


    .footer {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-around;
    }

    .footer .md_footer_left {
        padding: 0 20px;
    }

    .footer .md_footer_right {
        padding: 0 20px;
    }
}

@media (max-width: 768px) {
    

    /* Navbar */
    .mainMenu, .navContacts {
        font-size: 1em;
    }

    .mainMenu {
        position: fixed;
        width: 25%;
        height: auto;
        left: -100%;
        top: 70px;
        display: flex;
        background-color: #111517;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 20px 0; 
        transition: all 0.5s ease 0s;
    }

    .mainMenu.burger_active {
        top: 70px;
        left: 0;
        width: 200px;
    }

    .mainMenu  li:first-child {
        display: none;
    }

    .mainMenu  li {
        margin-right: 0;
    }

    .navbar_row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 25px;
    }

    .navmenu_burger {
        display: block;
        width: 30px;
        height: 20px;
        position: relative;
    }

    .navmenu_burger::before,
    .navmenu_burger::after {
        content: '';
        background-color: #fff;
        position: absolute;
        width: 100%;
        height: 2px;
        transition: all 0.5s ease 0s;
    }

    .navmenu_burger::before {
        top: 0;
    }

    .navmenu_burger::after {
        bottom: 0;
    }

    .navmenu_burger span {
        position: absolute;
        background-color: #fff;
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
        transition: all 0.5s ease 0s;
    }

    .navmenu_burger.burger_active::before {
        transform: rotate(45deg);
        margin-top: 9px;
    }

    .navmenu_burger.burger_active::after {
        transform: rotate(-45deg);
        margin-bottom: 9px;
    }

    .navmenu_burger.burger_active span {
        transform: scale(0);
    }

    .md_white {
        padding: 30px 0;
    }
    /* End navbar */

    /* Slider header */

    .carousel .list .item:nth-child(3) {
        left: 80%;
    }
    
    .carousel .list .item:nth-child(4) {
        left: calc(80% + 40px);
    }
    
    .carousel .list .item:nth-child(5) {
        left: calc(80% + 80px);
    }
    
    .carousel .list .item:nth-child(6) {
        left: calc(80% + 120px);
        opacity: 0;
    } 

    .contentSlide .sld-title-first {
        font-size: 2em;
    }

    .contentSlide .sld-title-second {
        font-size: 2.5em;
    }

    .contentSlide .sld-meta {
        font-size: 0.6em;
    }

    .item .contentSlide {
        position: relative;
        top: 50%;
        left: 0;
        margin: 0 30px;
        transform: translateY(-50%);
        width: auto;
        text-align: left;
        color: #fff;
        display: none;
        z-index: 1000;
    }

    .carousel .list .item {
        width: 35px;
        height: 65px;
        border-radius: 10px;
    }

    /* End slider header */

    /* Event */

    .desriptionEvent {
        height: 250px;
    }

    /* Gallery */

    .md_white .md_wrapper .container_gallery .gallery {
        display: grid;
        grid-template-columns: repeat(3, 200px);
        gap: 10px;
    }
    
    .md_white .md_wrapper .container_gallery .gallery div {
        overflow: hidden;
        width: 200px;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    /* End gallery */

    /* how get my party */

    

    .container .md_dark,
    .container .md_white {
        padding: 20px 0;
    }
    
    .md_white .md_wrapper .blockFirst,
    .md_white .md_wrapper .blockTwo,
    .md_white .md_wrapper .blockThree,
    .md_white .md_wrapper .blockFour,
    .md_white .md_wrapper .blockFive {
        display: grid;
        align-items: center;
        justify-items: center;
    }

    .md_white .md_wrapper .blockFirst .md_left,
    .md_white .md_wrapper .blockFirst .md_right,
    .md_white .md_wrapper .blockTwo .md_left,
    .md_white .md_wrapper .blockTwo .md_right,
    .md_white .md_wrapper .blockThree .md_left,
    .md_white .md_wrapper .blockThree .md_right,
    .md_white .md_wrapper .blockFour .md_left,
    .md_white .md_wrapper .blockFour .md_right,
    .md_white .md_wrapper .blockFive .md_left,
    .md_white .md_wrapper .blockFive .md_right {
        width: 100%;
    }

    .md_white .md_wrapper .blockFirst .md_left,
    .md_white .md_wrapper .blockTwo .md_left,
    .md_white .md_wrapper .blockThree .md_left,
    .md_white .md_wrapper .blockFour .md_left,
    .md_white .md_wrapper .blockFive .md_left {
        padding: 30px 30px 0;
    }

    .md_white .md_wrapper .blockFirst .md_right,
    .md_white .md_wrapper .blockTwo .md_right,
    .md_white .md_wrapper .blockThree .md_right,
    .md_white .md_wrapper .blockFour .md_right,
    .md_white .md_wrapper .blockFive .md_right {
        padding: 30px;
    }

    .md_white .md_wrapper .blockFirst .md_right img,
    .md_white .md_wrapper .blockTwo .md_left img,
    .md_white .md_wrapper .blockThree .md_right img,
    .md_white .md_wrapper .blockFour .md_left img,
    .md_white .md_wrapper .blockFive .md_right img {
        min-width: 100%;
    }

    .md_white .md_wrapper .blockFirst .md_left h3,
    .md_white .md_wrapper .blockTwo .md_right h3,
    .md_white .md_wrapper .blockThree .md_left h3,
    .md_white .md_wrapper .blockFour .md_right h3,
    .md_white .md_wrapper .blockFive .md_left h3 {
        font-size: 0.7em;
    }

    .md_white .md_wrapper .blockFirst .md_left h3.double,
    .md_white .md_wrapper .blockTwo .md_right h3.double,
    .md_white .md_wrapper .blockThree .md_left h3.double,
    .md_white .md_wrapper .blockFour .md_right h3.double,
    .md_white .md_wrapper .blockFive .md_left h3.double {
        font-size: 1.5em;
    }


    /* Report */

    .report .report_container .report_block {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .report .report_container .report_block .report_img {
        width: 100%;
        height: 350px;
        border-radius: 0;
        overflow: hidden;
        margin-right: 0;
        border-radius: 20px;
        margin-bottom: 15px;
    }

    .report .report_block .report_content {
        min-width: 100%;
        padding: 0;
        font-size: 1em;
        font-weight: 300;
        text-align: justify;
    }

    /* Accordion */

    .accordion .contentBx .label {
        font-size: 1.4em;
    }

    /* Swing theme */

    .accordion .contentBx {
        margin: 0 0 15px;
    }

    .accordion .contentBx:last-child {
        margin-bottom: 0;
    }

    /* footer */

    .footer {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-around;
    }

    .footer .md_footer_left {
        padding: 0 20px;
    }

    .footer .md_footer_right {
        padding: 0 20px;
    }

    /* End footer */
}

@media (max-width: 460px) {

    .welcome h2,
    h2.whiteTitleFirst {
        font-size: 2em;
    }

    h2.whiteTitleSecond {
        font-size: 1em;
    }

    /* Event */

    .event {
        padding: 50px 0;
    }

    .eventModule {
        margin-top: 50px;
        display: flex;
        flex-wrap: wrap;
    }

    .eventModule .banner {
        width: 80%;
        height: 80%;
        margin-bottom: 10px;
    }


    .eventModule .banner img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    .desriptionEvent {
        width: 80%;
        margin-left: 0;
    }

    .desriptionEvent h2 {
        font-size: 1.2em;
    }

    .desriptionEvent ul li {
        font-size: 1em;
    }



    /* Gallery */
    .md_white .md_wrapper .container_gallery .gallery {
        display: grid;
        grid-template-columns: repeat(1, 400px);
        gap: 10px;
    }
    
    .md_white .md_wrapper .container_gallery .gallery div {
        overflow: hidden;
        width: 400px;
        height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .md_dark .md_wrapper .md_archiveSlider .wrapper .container input:checked + label {
        margin-bottom: -33px;
        height: 365px;
    }

    .md_dark .md_wrapper .md_archiveSlider .wrapper .container {
        width: 100%;
        height: 720px;
        padding: 30px 0;
        display: grid;
        grid-template-columns: repeat(1, 100%);
        justify-items: center;
        justify-content: center;
        gap: 10px;
        margin-top: 0;
    }

    /* accordion */

    .accordion .contentBx.activeAcrd .contentSwing {
        height: 270px;
    }
}

@media (max-width: 425px) {

    .md_title h2.whiteTitleFirst {
        margin-top: 0 !important;
        font-size: 2em;
    }
    
    .md_title h2.whiteTitleSecond {
        color: #f5f5f5;
        text-transform: none;
        font-size: 1em;
    }
    
    .md_title h2.darkTitleFirst {
        font-size: 2em;
    }
    
    .md_title h2.darkTitleSecond {
        color: #111517;
        text-transform: none;
        font-size: 1em;
    }

    .md_dark .md_wrapper .blockFirst {
        display: flex;
        flex-direction: column;
    }

    .md_dark .md_wrapper .blockFirst .md_left,
    .md_dark .md_wrapper .blockFirst .md_right {
        width: 100%;
        padding: 0;
        margin-top: 50px;
    }

    /* Slider */
    .carousel .list .item:nth-child(3) {
        left: 70%;
    }
    
    .carousel .list .item:nth-child(4) {
        left: calc(70% + 40px);
    }
    
    .carousel .list .item:nth-child(5) {
        left: calc(70% + 80px);
    }
    
    .carousel .list .item:nth-child(6) {
        left: calc(70% + 120px);
        opacity: 0;
    } 

    /* Gallery */
    .md_white .md_wrapper .container_gallery .gallery {
        display: grid;
        grid-template-columns: repeat(1, 400px);
        gap: 10px;
    }
    
    .md_white .md_wrapper .container_gallery .gallery div {
        overflow: hidden;
        width: 400px;
        height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /* How get my party */

    .md_dark .md_wrapper .clubRules {
        font-size: 0.8em;
        font-weight: 300;
        margin: 20px 0;
        padding: 0;
    }

    .md_white .md_wrapper .blockFirst .md_left h3,
    .md_white .md_wrapper .blockTwo .md_right h3,
    .md_white .md_wrapper .blockThree .md_left h3,
    .md_white .md_wrapper .blockFour .md_right h3,
    .md_white .md_wrapper .blockFive .md_left h3 {
        font-size: 0.6em;
    }

    .md_white .md_wrapper .blockFirst .md_left h3.double,
    .md_white .md_wrapper .blockTwo .md_right h3.double,
    .md_white .md_wrapper .blockThree .md_left h3.double,
    .md_white .md_wrapper .blockFour .md_right h3.double,
    .md_white .md_wrapper .blockFive .md_left h3.double {
        font-size: 1.3em;
    }

    .md_white .md_wrapper .blockFirst .md_left p.doubleDescrip,
    .md_white .md_wrapper .blockTwo .md_right p.doubleDescrip,
    .md_white .md_wrapper .blockThree .md_left p.doubleDescrip,
    .md_white .md_wrapper .blockFour .md_right p.doubleDescrip,
    .md_white .md_wrapper .blockFive .md_left p.doubleDescrip {
        font-size: 0.9em;
    }

    .md_white .md_wrapper .blockFirst .md_right,
    .md_white .md_wrapper .blockTwo .md_left,
    .md_white .md_wrapper .blockThree .md_right,
    .md_white .md_wrapper .blockFour .md_left,
    .md_white .md_wrapper .blockFive .md_right {
        padding: 0
    } 

    .md_white .md_wrapper .blockFirst .md_left,
    .md_white .md_wrapper .blockTwo .md_right,
    .md_white .md_wrapper .blockThree .md_left,
    .md_white .md_wrapper .blockFour .md_right,
    .md_white .md_wrapper .blockFive .md_left {
        padding: 25px 0;
    }

    .md_white .md_wrapper .blockFirst,
    .md_white .md_wrapper .blockTwo,
    .md_white .md_wrapper .blockThree,
    .md_white .md_wrapper .blockFour,
    .md_white .md_wrapper .blockFive {
        margin-bottom: 20px;
    }

    .md_dark .md_wrapper .clubRules {
        font-size: 0.9em;
        margin-top: 35px;
    }


    /* Report */

    .reportTitle {
        margin-top: 0;
    }

    .report .report_container .report_block .report_img {
        width: 100%;
        height: 250px;
    }

    .report .report_container .report_data .report_autor,
    .report .report_container .report_data .report_date {
        font-size: 0.8em;
    }

     /* Accordion */

     .accordion .contentBx .label {
        font-size: 1.2em;
    }

    /* Footer */

    #footer .md_wrapper {
        width: 100%;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    #footer .md_wrapper .footer {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    
    #footer .md_wrapper .copyright {
        margin: 50px 30px 0;
    }

    #footer .md_wrapper .copyright span {
        text-align: center;
        margin-bottom: 20px;
    }

    #footer .md_wrapper .copyright span:last-child {
        margin-bottom: 0;
    }

    .footer .md_footer_right {
        margin-bottom: 30px;
    }
    /* End footer */
}

@media (max-width: 390px) {
    .mainMenu, .navContacts {
        font-size: 0.8em;
    }

    .mainMenu.burger_active {
        font-size: 1em;
    }

    .carousel {
        height: 88vh;
    }

    .welcome .md_welcome {
        margin: 50px 20px;
    }

    .welcome .md_welcome h2 {
        font-size: 2em;
    }

    /* Event */

    .container .md_dark,
    .container .md_white {
        padding: 0;
    }

    .md_dark .md_wrapper {
        width: 100%;
    }

    .md_dark .md_wrapper .blockFirst {
        width: auto;
        height: auto;
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: 30px auto;
    }

    .md_dark .md_wrapper .blockFirst .md_left,
    .md_dark .md_wrapper .blockFirst .md_right,
    .md_dark .md_wrapper .blockTwo .md_left,
    .md_dark .md_wrapper .blockTwo .md_right,
    .md_dark .md_wrapper .blockThree .md_left,
    .md_dark .md_wrapper .blockThree .md_right,
    .md_dark .md_wrapper .blockFour .md_left,
    .md_dark .md_wrapper .blockFour .md_right,
    .md_dark .md_wrapper .blockFive .md_left,
    .md_dark .md_wrapper .blockFive .md_right,
    .md_dark .md_wrapper .blockSecond {
        width: 100%;
    }

    .desriptionEvent h2 {
        font-size: 1em;
    }

    .desriptionEvent ul li {
        font-size: 0.9em;
    }
    /* End event */

    /* Swing info */

    .md_dark .md_wrapper .md_title,
    .md_white .md_wrapper .md_title {
        margin: 0 20px;
    }

    /* End Swing info */

    /* Swing theme */

    .md_swingTheme .accordion .contentBx .label {
        font-size: 1em;
    }

    .md_swingTheme .accordion .contentBx.activeAcrd .contentSwing {
        padding: 20px;
        height: 320px;
    }

    /* End swing theme */

     /* Gallery */
     .md_white .md_wrapper .container_gallery .gallery {
        display: grid;
        grid-template-columns: repeat(1, 350px);
        gap: 10px;
    }
    
    .md_white .md_wrapper .container_gallery .gallery div {
        overflow: hidden;
        width: 350px;
        height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    
}

@media (max-width: 375px) {

    /* Slider */
    .carousel .list .item:nth-child(3) {
        left: 65%;
    }
    
    .carousel .list .item:nth-child(4) {
        left: calc(65% + 40px);
    }
    
    .carousel .list .item:nth-child(5) {
        left: calc(65% + 80px);
    }
    
    .carousel .list .item:nth-child(6) {
        left: calc(65% + 120px);
        opacity: 0;
    } 

    .welcome .md_welcome h2,
    .md_title h2.whiteTitleFirst,
    .md_title h2.darkTitleFirst {
        font-size: 1.7em;
    }


    /* How get my party */

    .md_white .md_wrapper .blockFirst,
    .md_white .md_wrapper .blockTwo,
    .md_white .md_wrapper .blockThree,
    .md_white .md_wrapper .blockFour,
    .md_white .md_wrapper .blockFive {
        margin-bottom: 10px;
    }
    

    .md_dark .md_wrapper .md_archiveSlider .wrapper .container input:checked + label {
        margin-bottom: -25px;
        height: 315px;
    }

    .md_dark .md_wrapper .md_archiveSlider .wrapper .container {
        height: 600px;
    }

    /* Gallery */
    .md_white .md_wrapper .container_gallery .gallery {
        display: grid;
        grid-template-columns: repeat(1, 300px);
        gap: 10px;
    }
    
    .md_white .md_wrapper .container_gallery .gallery div {
        overflow: hidden;
        width: 300px;
        height: 150px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /* Report */

    .report .report_container .report_block .report_img {
        width: 100%;
        height: 200px;
    }

     /* Accordion */

     .accordion .contentBx .label {
        font-size: 1.4em;
    }

    #footer {
        padding: 30px 0;
    }
}



@media (max-width: 320px) {

    /* Slider */
    .carousel .list .item:nth-child(3) {
        left: 60%;
    }
    
    .carousel .list .item:nth-child(4) {
        left: calc(60% + 40px);
    }
    
    .carousel .list .item:nth-child(5) {
        left: calc(60% + 80px);
    }
    
    .carousel .list .item:nth-child(6) {
        left: calc(60% + 120px);
        opacity: 0;
    } 

    .welcome .md_welcome h2,
    .md_title h2.whiteTitleFirst,
    .md_title h2.darkTitleFirst {
        font-size: 1.5em;
    }

    .md_dark .md_wrapper .md_archiveSlider .wrapper .container input:checked + label {
        margin-bottom: -18px;
        height: 260px;
    }

    .md_dark .md_wrapper .md_archiveSlider .wrapper .container {
        height: 500px;
    }

    .mainMenu, .navContacts {
        font-size: 0.7em;
    }

    /* Gallery */
    .md_white .md_wrapper .container_gallery .gallery {
        display: grid;
        grid-template-columns: repeat(1, 280px);
        gap: 10px;
    }
    
    .md_white .md_wrapper .container_gallery .gallery div {
        overflow: hidden;
        width: 280px;
        height: 150px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /* Event */

    .desriptionEvent h2 {
        font-size: 0.9em;
    }

    .desriptionEvent ul li {
        font-size: 0.8em;
    }

    /* Report */

    .report .report_container .report_block .report_img {
        width: 100%;
        height: 145px;
    }

     /* Accordion */

     .md_swingTheme .accordion .contentBx .label {
        font-size: 0.9em;
    }
}